.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.counter {
    display: flex;
}

.title{
    min-height: 48px;
    text-align: center;
}

.dragging {
    background-color: rgb(76 76 255 / 10%);
}