.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: center;
}

.left_menu__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.description {
    width: 100%;
    max-width: 320px;
}

.nav {
    width: 100%;
}

.navigation__container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

.navigation__button {
    display: flex;
    width: 100%;
    height: 64px;
    color: #8585AD;
    text-decoration: none;
    align-items: center;
    background: inherit;
    border: none;
    cursor: pointer;
}

.navigation__button_active {
    color: #F2F2F3;
}

.navigation__list_element {
    width: 100%;
    max-width: 320px;
}

.form__submit_container {
    display: flex;
    width: 100%;
    justify-content: end;
}