.list {
    display: flex;
    align-items: end;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    flex-direction: column;
    overflow: overlay;
    height: calc(100vh - 536px);
    gap: 16px;
    scrollbar-gutter: stable;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 10px;
}

@keyframes change-color {
    0% {
        outline: 3px solid #801ab3;
    }

    50% {
        outline: 3px solid #4c4cff;
    }

    100% {
        outline: 3px solid #801ab3;
    }
}

.onDrag {
    animation: change-color 2s linear infinite;
}

.isDragging {
    background-color: rgb(76 76 255 / 10%);
}

.ingredient__top {
    margin-bottom: 16px;
}

.ingredient__bottom {
    margin-top: 16px;
}

.undefined__ingredient {
    height: 48px;
    width: 100%;
    padding: 16px 24px;
}

.list::-webkit-scrollbar {
    width: 8px;
}

.article__container::-moz-scrollbar {
    width: 8px;
}

.list::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.list::-moz-scrollbar-track {
    background-color: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.list::-moz-scrollbar-thumb {
    background-color: #8585AD;
}