.info__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

.info__name {
    margin: 0;
}

.info__article {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}