.section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 60px;
    max-width: 580px;
    width: 100%;
}

.numbers {
    -webkit-text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
    -moz-text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
    -ms-text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
    text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
}

.top_numbers {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.oreder_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    margin-top: 24px;
    list-style: none;
    row-gap: 8px;
    column-gap: 50px;
    max-height: 153px;
    height: 100%;
}

.blue_numbers{
    color:#0CC;
}